<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Welcome to Proggramer aamiin</h2>

    <div>
        <ul>
            <li>Username      : <a th:text="${userLempar}"></a> </li>
            <li>Alamat        : <a th:text="${allempar}"></a></li>
            <li>Jenis Kelamin : <a th:text="${jklempar}"></a></li>
            <li>Warganegara   : <a th:text="${wrlempar}"></a></li>
        </ul>
        <ul>
            <!-- perhatikan untuk thymlef href nya jangan
            ketuker sama dollar karna bikin error bukan kepalang -->
            <li><a th:href="@{/}">Logout</a></li>
        </ul>
    </div>
</body>
</html>